@import url("https://fonts.googleapis.com/css?family=Poppins:500,600,400");

:root {
  --zen-opacity: 1;

  /* Default values that will be updated by the theme store */
  --font-color: 68, 68, 68;
  --font-color_button: 255, 255, 255;
  --background-color: 255, 255, 255;
  --background-color_sidebar: 252, 252, 252;
  --background-color_modalbox: 240, 240, 240;
  --background-color_button: 163, 205, 255;
  --background-color_button-hover: 118, 180, 255;
  --background-color_checkbox: 33, 150, 243;

  --mainWindow-padding: 8px;
  --leftSidebar-padding: 8px;
  --rightSidebar-padding: 8px;
  --font-size: 18px;
}

@supports(padding:max(0px)) {
  body,
  header,
  footer {
    padding-left: min(0vmin, env(safe-area-inset-left));
    padding-right: min(0vmin, env(safe-area-inset-right));
  }
}

body {
  touch-action: manipulation;
  background-color: rgb(var(--background-color));
  color: rgb(var(--font-color));
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}
